# Docker and GitHub user id only needed for dev work
DOCKER_USER_ID=userid
GITHUB_USER_ID=userid

# NCBI API key highly recommended for NCBI tools like Datasets
NCBI_API_KEY=ncbikey

# General paths
SINGULARITY_IMAGE="/path/to/image.sif"
APP_DIR="/path/to/dir"
DATA_DIR="/path/to/dir"

SCRATCH_DIR="/path/to/dir"
DATASETS_DIR=$SCRATCH_DIR"/path/to/dir"